* {
  margin: 0;
  padding: 0
}


.begin-exploring {
  /* position: relative; */
  /* display: inline-block; */
}

.begin-exploring img {
  width: 100%; 
  height: auto;
  /* position: absolute; */

}

.begin-exploring .overlay-text { 
  /* position: absolute; */
  z-index: 999;
  text-align: center;
  margin-top: -300px;
  color: white;
}

.parks-page {
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-between;  
}

.park-card {
  width: 300px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-top: 2%;
}

.cgs-page {
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-between;  
}

.cg-card {
  width: 300px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-top: 2%;
}

.todos-page {
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-between;  
}

.todo-card {
  width: 300px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-top: 2%;
}
